# Project place file
/game-template.rbxlx

# Roblox Studio lock files
/*.rbxlx.lock
/*.rbxl.lock

sourcemap.json

/Packages/
/globalTypes.d.luau
/tests.rbxl
/.env

# Wally files
Packages/
ServerPackages/